

<app-breadcrumb [title]="'modifierMdp' | translate" [items]="['Profiles' | translate]"
  [active_item]="'modifierMdp' | translate"></app-breadcrumb>
<div class="container-fluid">
  <div class="card" style="height: 72vh;">
    <div class="card-header text-end">
      <h5></h5>
      <button ngbTooltip="{{ 'enregistrer' | translate}}" (click)="resetPassword()" class="btn  btn-sm"
        [disabled]="userForm.invalid"
        style=" margin-left: 20px; background-color: #f7f7f7; height: 50px; width: 50px; border: solid; border-width: 2px;  border-color: cornflowerblue;  ">
        <i class="fa fa-save fa-lg" style="color: cornflowerblue;  margin-left: -6px;"></i></button>
      <a ngbTooltip="{{ 'annuler' | translate}}" [routerLink]="['/']" class="btn  btn-sm"
        style=" margin-left: 20px; background-color: #f7f7f7; height: 50px; width: 50px; border: solid; border-width: 2px;  border-color: #7c8184;  ">
        <i class="fa fa-rotate-left fa-lg" style="color: gray; margin-top: 13px; margin-left: -6px;"></i></a>
    </div>
    <form class="form theme-form" [formGroup]="userForm">
   
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-8">
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'Ancien mot de passe' | translate}}:*</label>
              <div class="col-sm-7">
                <input class="form-control " id="exampleFormControlInput5" type="password" placeholder="---"
                  formControlName="oldPassword" [ngClass]="{'is-invalid':oldPassword.errors && oldPassword.touched}" />
                <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
                  <div *ngIf="oldPassword.errors.oldPasswordfalse" style="color: red;  font-weight: bold;">Le mot de passe actuel ne correspond pas au mot de passe stocké.</div>
                  <div *ngIf="oldPassword.errors.required" style="color: red;  font-weight: bold;">champs obligatoire</div>
                </div>
              </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'Nouveau mot de passe' | translate}}:*</label>
                <div class="col-sm-7">
                  <input class="form-control " id="exampleFormControlInput5" type="password" placeholder="---"
                    formControlName="newPassword" [ngClass]="{'is-invalid':newPassword.errors && newPassword.touched}" />
                  <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                    <div *ngIf="newPassword.errors.required" style="color: red;  font-weight: bold;">champs obligatoire</div>
                  </div>
                </div>
              </div>

              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'Confirmer le mot de passe' | translate}}:*</label>
                <div class="col-sm-7">
                  <input class="form-control " id="exampleFormControlInput5" type="password" placeholder="---"
                    formControlName="confirmPassword" [ngClass]="{'is-invalid':confirmPassword.errors && confirmPassword.touched}" />
                  <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                    <div *ngIf="confirmPassword.errors.confirmPasswordfalse" style="color: red;  font-weight: bold;">mdp false</div>
                    <div *ngIf="confirmPassword.errors.required" style="color: red;  font-weight: bold;">Les mots de passe ne correspondent pas.</div>
                  </div>
                </div>
              </div>
        
          </div>
          <div class="col-md-6">
             
          </div>
        </div>
      </div>
    </form>
  </div>
</div>