<app-breadcrumb [title]="'Privileges' | translate"  [active_item]="'Privileges' | translate"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="justify-content : end ; display: grid;">
            <a ngbTooltip="{{ 'ajouter' | translate}}" class="btn  btn-sm"
            style=" background-color: #f7f7f7; height: 50px; width: 50px; border: solid; border-width: 2px;  border-color: green; "
            (click)="addPrivilege()"> <i class="fa fa-plus fa-lg"
              style="color: green; margin-top: 13px; margin-left: -6px; "></i> </a>
        </div>
        <div class="card-body custom-datatable noscroll">
          <div class="custom-datatable table-responsive">
            <div class="mat-elevation-z8">
              <div class="text-end">
                <mat-form-field>
                  <mat-label>{{ 'recherche' | translate}}</mat-label>
                  <input matInput placeholder="{{ 'recherche' | translate}}" (keyup)="Filterchange($event.target.value)">
                </mat-form-field>
              </div>
              <table mat-table matSort [dataSource]="dataSource" class="my-table">
                <ng-container matColumnDef="libelle">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'privilege' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
                </ng-container>
                <ng-container matColumnDef="order">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef> {{ 'classement' | translate}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.order}} </td>
                </ng-container>
                <ng-container matColumnDef="moduleActiver">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef> {{ 'moduleActiver' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> <span *ngIf="element.moduleActiver; else non">{{ 'oui' | translate}}</span>
                    <ng-template #non>non</ng-template> </td>
                </ng-container>
                <ng-container matColumnDef="activation">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef> {{ 'activation' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> <span *ngIf="element.activation; else non">{{ 'non' | translate}}</span>
                    <ng-template #non>non</ng-template> </td>
                </ng-container>
                <ng-container matColumnDef="profile.libelle">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef> {{ 'profile' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.profile.libelle}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element" class="text-end">
                    <a ngbTooltip="{{ 'detailPrivilege' | translate}}" class="btn btn-light btn-sm"
                      style="width: 10px; height: 40px;"
                      [routerLink]="['/Privilege/viewPrivilege', element.id]"><i
                        class="fa fa-search-plus" style="margin-top: 7px;margin-left: -7px;"></i> </a>
                    <a ngbTooltip="{{ 'supprimer' | translate}}" class="btn btn-danger btn-sm"
                    (click)="openDelete(contentDelete, element.id)"
                      style="width: 10px; height: 40px; margin-left: 15px;"><i class="fa fa-trash"
                        style="margin-top: 7px;margin-left: -7px;"></i> </a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
              </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'confirmerSuppresion' | translate}}</h4>
  </div>
  <div class="modal-body">
    <p>{{ 'msgSuppresion' | translate}}</p>
<!--     <p *ngIf="verifierList" style="color: red;"> il doit supprimer ....</p>
*ngIf="!verifierList" -->
  </div>
  <div class="modal-footer">
    <button  type="button" class="btn btn-outline-success" (click)="onSelect()"><i class="fa fa-check"></i></button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')"><i
        class="fa fa-times"></i></button>
  </div>
</ng-template>