<app-breadcrumb [items]="['CategorieUsage' | translate]" [active_item]="'libelleCategorieTypeUsager' | translate">
</app-breadcrumb>
<form class="form theme-form" [formGroup]="CategorieTypeUsageForm">
    <div class="container-fluid">

        <div class="card" style="width: 100%;height: 75vh;" >

            <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                <div style="font-weight: bold; font-size: 24px;">
                    {{ 'libelleCategorieTypeUsager' | translate }}
                </div>
                <div>
                    <button ngbTooltip="{{ 'enregistrer' | translate}}" (click)="updateCategorieTypeUsage()" class="btn  btn-sm"
                        [disabled]="CategorieTypeUsageForm.invalid"
                        style=" margin-left: 20px; background-color: #f7f7f7; height: 50px; width: 50px; border: solid; border-width: 2px;  border-color: cornflowerblue;  ">
                        <i class="fa fa-save fa-lg" style="color: cornflowerblue;  margin-left: -6px;"></i></button>
                    <a ngbTooltip="{{ 'annuler' | translate}}" [routerLink]="['/CategorieUsage']" class="btn  btn-sm"
                        style=" margin-left: 20px; background-color: #f7f7f7; height: 50px; width: 50px; border: solid; border-width: 2px;  border-color: #7c8184;  ">
                        <i class="fa fa-rotate-left fa-lg"
                            style="color: gray; margin-top: 13px; margin-left: -6px;"></i></a>
                </div>
            </div>


            <div class="card-body">
                <form [formGroup]="CategorieTypeUsageForm">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{
                                'libelle' | translate}}:*</label>
                            <div class="col-sm-7">
                                <input class="form-control " id="exampleFormControlInput5" type="text" placeholder="---"
                                    formControlName="libelle"
                                    [ngClass]="{'is-invalid':libelle.errors && libelle.touched}" />
                                <div *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)">
                                    <div *ngIf="libelle.errors.categorieTypeUsageTaken" style="color: red;  font-weight: bold;">
                                        Categorie Type Usage déjà pris
                                    </div>
                                    <div *ngIf="libelle.errors.required" style="color: red;  font-weight: bold;">champs
                                        obligatoire</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'description' |
                              translate}}:</label>
                            <div class="col-sm-7">
                              <textarea class="form-control " rows="3" formControlName="description" placeholder="---"></textarea>
                            </div>
                          </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</form>