<app-breadcrumb  [items]="['Articles' | translate]"
  [active_item]="'Article' | translate"></app-breadcrumb>
<div class="container-fluid">
  <div class="card" >
    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
      <div style="font-weight: bold; font-size: 24px;">
        {{ 'Articles' | translate }}
      </div>
      <div>
        <a *ngIf="(privilege.modification )" ngbTooltip="{{ 'modifier' | translate}}"
        [routerLink]="['/Article/editArticle', ArticleItem?.id]" class="btn  btn-sm"
        style="background-color: #f7f7f7; height: 50px; width: 50px; border: solid; border-width: 2px;  border-color: orange;  ">
        <i class="fa fa-pencil fa-lg" style="color: orange; margin-top: 13px; margin-left: -6px;"></i></a>
      <a ngbTooltip="{{ 'annuler' | translate}}" [routerLink]="['/Article']" class="btn  btn-sm"
        style=" margin-left: 20px; background-color: #f7f7f7; height: 50px; width: 50px; border: solid; border-width: 2px;  border-color: #7c8184;  ">
        <i class="fa fa-rotate-left fa-lg" style="color: gray; margin-top: 13px; margin-left: -6px;"></i></a>
     </div>
    </div>
    <form class="form theme-form">
      <div class="card-body" style="margin-top: 30px;">
        <div class="row g-3">
          <div class="col-lg-6">
            <!-- <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{
                'libelle' | translate}}:</label>
              <div class="col-sm-7">
                <input class="form-control " id="exampleFormControlInput5" type="text" placeholder="code"
                  value="{{ArticleItem?.code}}" disabled="true" />
              </div>
            </div> -->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{
                'libelle' | translate}}:</label>
              <div class="col-sm-7">
                <input class="form-control " id="exampleFormControlInput5" type="text" placeholder="libelle"
                  value="{{ArticleItem?.libelle}}" disabled="true" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'categorieArticle' | translate}}:</label>
              <div class="col-sm-7">
                <input class="form-control " id="exampleFormControlInput5" type="text" placeholder="libelle"
                  value="{{ArticleItem?.categorieArticle.libelle}}" disabled="true" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{
                'date creation' | translate}}:</label>
              <div class="col-sm-7">
                  <input class="form-control " id="exampleFormControlInput5" type="text" placeholder="date creation"
                  value="{{ArticleItem?.dateCreation | date:'yyyy/MM/dd'}}" disabled="true" />
              </div>
            </div>
          </div>
         <div class="col-lg-6">
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{
              'description' | translate}}:</label>
            <div class="col-sm-7">
              <textarea class="form-control " style="background-color: white;" id="exampleFormControlInput5"
              rows="6" type="text" placeholder="---" value="{{ArticleItem?.description}}" disabled="true"> </textarea>
            </div>
          </div>
          
          </div> 
        
        </div>
       <!-- <div class="row g-3">
          <div class="col-lg-6">
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{
                'gouvernorat' | translate}}:</label>
              <div class="col-sm-7">
                <input class="form-control " id="exampleFormControlInput5" type="text" placeholder="libelle"
                  value="{{ArticleItem?.libelleGouvernorat}}" disabled="true" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{
                'delegation' | translate}}:</label>
              <div class="col-sm-7">
                <input class="form-control " id="exampleFormControlInput5" type="text" placeholder="libelle"
                  value="{{ArticleItem?.libelleDelegation}}" disabled="true" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'description' |
                translate}}:</label>
              <div class="col-sm-7">
                <textarea class="form-control " style="background-color: white;" id="exampleFormControlInput5"
                  type="text" placeholder="libelle" value="{{ArticleItem?.description}}" disabled="true"> </textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
           

          </div>
        </div>-->

      </div>
      <div class="card-footer text-end">
        <div class="col-sm-9 offset-sm-3">
        </div>
      </div>
    </form>
  </div>
</div>
