<div class="notification-box" (click)="toggleNotificationMobile()">
  <svg>
    <use href="assets/svg/icon-sprite.svg#notification"></use>
  </svg>
  <span *ngIf="total" class="badge rounded-pill badge-secondary">{{tableItem?.length}}</span>
  <span *ngIf="!total" class="badge rounded-pill badge-secondary">0</span>
</div>
<div class="onhover-show-div notification-dropdown">
  <h6 class="f-18 mb-0 dropdown-title">Notitications</h6>
  <ul>

    <li class="b-l-primary border-4" *ngFor="let item of tableItem">
      <p>{{item?.libelleBatiment}}<br>{{item?.description.slice(0, 26)}}<span class="font-secondary">{{item?.dateHeure | date:'dd/MM/yyyy hh:mm'}}</span></p>
    </li>
    <li><a class="f-w-700" [routerLink]="['/Alertes']">Vérifie tout</a></li>
  </ul>
</div>
