<app-breadcrumb [items]="['Candidat' | translate]" [active_item]="'ajouterCandidat' | translate"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div style="font-weight: bold; font-size: 24px;">
                {{ 'Candidat' | translate }}
            </div>
            <div>
                <button ngbTooltip="{{ 'enregistrer' | translate}}" (click)="ajouterCandidat()" class="btn  btn-sm"
                    [disabled]="CandidatForm.invalid"
                    style=" margin-left: 20px; background-color: #f7f7f7; height: 50px; width: 50px; border: solid; border-width: 2px;  border-color: cornflowerblue;  ">
                    <i class="fa fa-save fa-lg" style="color: cornflowerblue;  margin-left: -6px;"></i></button>
                <a ngbTooltip="{{ 'annuler' | translate}}" [routerLink]="['/Candidat']" class="btn  btn-sm"
                    style=" margin-left: 20px; background-color: #f7f7f7; height: 50px; width: 50px; border: solid; border-width: 2px;  border-color: #7c8184;  ">
                    <i class="fa fa-rotate-left fa-lg"
                        style="color: gray; margin-top: 13px; margin-left: -6px;"></i></a>
            </div>
        </div>
        <form class="form theme-form" [formGroup]="CandidatForm" method="POST" enctype="multipart/form-data">

            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <div class="col-sm-7">
                                <image-cropper *ngIf="imageChangedEvent" [imageChangedEvent]="imageChangedEvent"
                                    style="width: 250px;height: 250px; margin-left: 50%;" [cropperStaticHeight]="500"
                                    [cropperStaticWidth]="500" (imageLoaded)="imageLoaded()"
                                    (cropperReady)="cropperReady($event)" (loadImageFailed)="loadImageFailed()">
                                </image-cropper>
                                <img *ngIf="!imageChangedEvent" [src]="croppedImage" alt="Image"
                                    style="width: 400px;height: 400px; margin-left: 28%;">
                                <input class="btn btn-outline-primary" placeholder="Choose Your Image" type="file"
                                    style=" margin-left: 50%;" (change)="fileChangeEvent($event)" />

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'nom' |
                                translate}}:*</label>
                            <div class="col-sm-7">
                                <input class="form-control " id="exampleFormControlInput5" type="text" placeholder="---"
                                    formControlName="nom" [ngClass]="{'is-invalid':nom.errors && nom.touched}" />
                                <div *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                                    <div *ngIf="nom.errors.required" style="color: red;  font-weight: bold;">champs
                                        obligatoire</div>
                                </div>
                            </div>
                        </div>


                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'prenom' |
                                translate}}:*</label>
                            <div class="col-sm-7">
                                <input class="form-control " id="exampleFormControlInput5" type="text" placeholder="---"
                                    formControlName="prenom"
                                    [ngClass]="{'is-invalid':prenom.errors && prenom.touched}" />
                                <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)">
                                    <div *ngIf="prenom.errors.required" style="color: red;  font-weight: bold;">champs
                                        obligatoire</div>
                                </div>
                            </div>
                        </div>


                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'email' |
                                translate}}:*</label>
                            <div class="col-sm-7">
                                <input class="form-control " id="exampleFormControlInput5" type="mail" placeholder="---"
                                    formControlName="email" [ngClass]="{'is-invalid':email.errors && email.touched}" />
                                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                                    <div *ngIf="email.errors.emailTaken" style="color: red;  font-weight: bold;">email
                                        déjà pris</div>
                                    <div *ngIf="email.errors.required" style="color: red;  font-weight: bold;">champs
                                        obligatoire</div>
                                    <div *ngIf="email.errors.email" style="color: red;  font-weight: bold;">email
                                        obligatoire</div>
                                </div>
                            </div>
                        </div>


                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">{{ 'dateNaissance' | translate}}</label>
                            <div class="col-sm-7">
                                <input class="form-control digits" type="date" formControlName="dateNaissance" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">{{ 'dateCreation' | translate}}</label>
                            <div class="col-sm-7">
                                <input class="form-control digits" type="date" formControlName="dateCreation" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">{{ 'cin' | translate}}</label>
                            <div class="col-sm-7">
                                <input class="form-control digits" type="number" formControlName="cin" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">{{ 'gsm' | translate}}</label>
                            <div class="col-sm-7">
                                <input class="form-control digits" type="number" formControlName="gsm" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'profile' |
                                translate}}:*</label>
                            <div class="col-sm-7">
                                <ng-select [items]="ProfileItem"
                                    [ngClass]="{'is-invalid':profile.errors && profile.touched}" bindLabel="libelle"
                                    bindValue="libelle" formControlName="profile" placeholder="---"
                                    class="js-example-basic-single">
                                </ng-select>
                                <div *ngIf="profile.invalid && (profile.dirty || profile.touched)">
                                    <div *ngIf="profile.errors.required" style="color: red;  font-weight: bold;">champs
                                        obligatoire</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'poste' |
                                translate}}:*</label>
                            <div class="col-sm-7">
                                <ng-select [items]="PosteItem" [ngClass]="{'is-invalid':poste.errors && poste.touched}"
                                    bindLabel="libelle" bindValue="libelle" formControlName="poste" placeholder="---"
                                    class="js-example-basic-single" (change)="onChangePoste($event)">
                                </ng-select>
                                <div *ngIf="poste.invalid && (poste.dirty || poste.touched)">
                                    <div *ngIf="poste.errors.required" style="color: red;  font-weight: bold;">champs
                                        obligatoire</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" for="exampleFormControlInput5">{{ 'role' |
                                translate}}:</label>
                            <div class="col-sm-7">
                                <ng-select [ngClass]="{'is-invalid':poste.errors && poste.touched}"
                                    formControlName="role" placeholder="---" class="js-example-basic-single">
                                    <ng-option value="principale">Responsable principale</ng-option>
                                    <ng-option value="Adjoint1">Responsable Adjoint 1</ng-option>
                                    <ng-option value="Adjoint2">Responsable Adjoint 2</ng-option>
                                </ng-select>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </form>
    </div>
</div>